/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

*, *::before, {
  box-sizing: border-box;

}

body {
  height: 2104;
  max-width: 1300px;

}

header {
  margin: 0;
  background-image: url("img/ocean.png");
  background-size: cover;
  background-repeat:no-repeat;

}

.coname {
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style:none;
}

#1 {
  text-align: right;
  margin: ;

h1 {
  font-family: 'Oswald', sans-serif;
}

}

.context {
  font-family: 'open sans', sans-serif;
}


.top {
  text-align: right;
  position: relative;
}

.top {
  font-family: serif;
}
