/* This is confusing the heck out of me*/


* {
  box-sizing: border-box;
  border: 1px solid gray;
}

body {
  margin: 0 auto;
  color: #fff;
}
ul {
  display: inline;
  : none;
}

.header {
  /* background-image: url("img/homeheader.png"); */
  background-size: cover;
  height: 522px;
  background-repeat: no-repeat;
  background-position: center center;

}
.container {
  height: 872px;
  width: 978px;
}


.splogo {
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 127px;
  margin-top: 5px;
  color: #07354F;
}

.blog {
  display: inline-block;
  font-size: 13px;
  padding-top: 17px;
  color: #07354F;
}

.headerlinks {
  display: inline;
  text-align: right;
  color: #07354F;

}
.coname {
  text-align: center;
  font-size: 80px;
  margin: 5px;
  font-family: 'Oswald', sans-serif;
}

.surf {
  font-size: 80px;
  color: white;
  }

.iron {
  font-size: 13px;
  color: #083753;
}

.lbar {
  display: inline;
  max-width: 617px;
  text-align: left;
  height: 1007px;
  color: black;
}

.rbar {
  display: inline-block;
  height: 1007px;
  max-width: 440;
  color: black;

}

.prefooter, .footer {
  display: inline-block;
  width: 100%;

}

.footer {

  background-color:  #0062AA;
  height: 97px;
  background-size: cover;
  background-position: center center;
}

.paddle {
  background-image: url("img/boho-1.jpg");
}

.nav {
  margin-right: 10px;
  display: inline-block;
  color: black;

}
