/* This is confusing the heck out of me */


*, {
  box-sizing: border-box;
}


ul {
  list-style: none;
}

.header {
  background-image: url("img/ocean.png");
  background-size: cover;
  width: 100%;
  height: 524px;
  background-repeat: no-repeat;
  position: relative;
  padding: 7px;

}
.splogo, .blog, .headerlinks, .coname, .rbar {
  display: inline;
}

.splogo {
  left: 20px;
  background-image: url("img/logo.png");
  text-align: left;
  background-repeat: no-repeat;
}


.headerlinks {
  text-align: right;
}
.coname {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.surf {
  display: inline;
  font-size: 80px;
  color: white;
  }

.iron {
  font-size: 11px;
}

.lbar {
  max-width: 616px;
  text-align: left;
  height: 1007px;
  width: 860px;
  border: 1px solid black;
}

.rbar {
  position: static;
  top: -522px;
  right: 161px;
  display: block;
  height: 1007px;
  width: 440px;
  border: 1px solid black;
  ;
}

.prefooter, .footer {
  display: inline;
}

.paddle {
  background-image: url("img/boho-1.jpg");
}
